<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <ul>
        <li><a href="http://localhost:3000/supplier" id="supplierLink">Supplier</a></li>
    </ul>
    <script src="/public/js/script.js"></script>
</body>
</html>