<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/supplier.css">
    <title>Supplier Information</title>
</head>
<body>
    <h1>Supplier Information</h1>
    <% console.log("here i am"); %>
    <ul>
        <% suppliers.forEach(supplier => { %>
        <li>
            <strong>Manager ID:</strong> <%= supplier.MANAGER_ID %>, 
            <strong>Department ID:</strong> <%= supplier.DEPARTMENT_ID %>,
            <strong>Department Name:</strong> <%= supplier.DEPARTMENT_NAME %>
        </li>
        <!-- <% console.log(supplier.manager_id, supplier.department_id, supplier.department_name); %>
        <% }); %> -->
    </ul>
    
    
    <script src="/public/js/script.js"></script>
</body>
</html>
