/* Additional Custom Styles for Bluish Dark Theme */
body {
    background-color: #28313b; /* Dark bluish background */
    color: #ffffff; /* Text color */
}

.card {
    background-color: #394b59; /* Darker bluish background */
    border-color: #28313b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #28313b;
    border-color: #28313b;
    color: #ffffff;
}

.card-body {
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.table {
    color: #ffffff;
}

.table th, .table td {
    border-color: #28313b;
}

.table thead th {
    background-color: #28313b;
    color: #ffffff;
}

.table-dark {
    background-color: #394b59;
    color: #ffffff;
}

.table-dark th, .table-dark td {
    border-color: #28313b;
}


/* Styling for Lists in Card Bodies */
.card-body ul {
    list-style-type: none;
    padding: 0;
}

.card-body ul li {
    margin-bottom: 10px;
}
